In [111]:
from tkinter import *
from PIL import ImageTk, Image
import pyodbc

#connect to SQL Server
conn = pyodbc.connect(
      'Driver={SQL Server};'
      'Server=LAPTOP-P23KDOA5\SQLEXPRESS;' #allazei analoga me to pc
      'Database=Hotel_Official;'
      'Trusted_Connection=yes'

)

c=conn.cursor()

root = Tk()
root.title("Welcome!")
root.geometry("1700x1700")

req_label_1=Label(root)
req_label_2=Label(root)
label71=Label(root)
label72=Label(root)
label73=Label(root)
label74=Label(root)
label75=Label(root)
label76=Label(root)
label77=Label(root)
nreq_label_1=Label(root)
nreq_label_2=Label(root)

def q7():
    
    global req_label_1
    global req_label_2
    global nreq_label_1
    global nreq_label_2
    global label71
    global label72
    global label73
    global label74
    global label75
    global label76
    global label77
    req_label_1.destroy()
    req_label_2.destroy()
    label72.destroy()
    label73.destroy()
    label74.destroy()
    label75.destroy()
    label76.destroy()
    label77.destroy()
    label71.destroy()
    nreq_label_1.destroy()
    nreq_label_2.destroy()
    
    c=conn.cursor()
    date=n7a.get()
    service=n7b.get()
    cost=n7c.get()
    
    if(cost=='' and service=='' and date==''): #general case
        req_string='''SELECT DISTINCT h.Service_ID, p.DescriptionSer
        FROM TheServices AS p, RequiresSub AS h 
        WHERE p.Service_ID = h.Service_ID 
        ORDER BY p.DescriptionSer;'''
        c.execute(req_string)
        req_rec=c.fetchall()
        print_req_2=str("Description of Sub Services")+"\n"
        print_req_1=str("Service ID") + "\n"
        for record in (req_rec):
             print_req_1+=str(record[0]) + "\n"
             print_req_2+=str(record[1]) + "\n"
        req_label_1=Label(root,text=print_req_1)
        req_label_1.grid(row=1,column=10)
        req_label_2=Label(root,text=print_req_2)
        req_label_2.grid(row=1,column=20)
    
        nreq_string='''SELECT DISTINCT h.Service_ID, p.DescriptionSer
        FROM TheServices AS p, NotRequiresSub AS h 
        WHERE p.Service_ID = h.Service_ID 
        ORDER BY p.DescriptionSer;'''
        c.execute(nreq_string)
        nreq_rec=c.fetchall()
        print_nreq_2=str("Description of Non_Sub Services")+"\n"
        print_nreq_1=str("Service ID") + "\n"
        for record in (nreq_rec):
             print_nreq_1+=str(record[0]) + "\n"
             print_nreq_2+=str(record[1]) + "\n"
        nreq_label_1=Label(root,text=print_nreq_1)
        nreq_label_1.grid(row=1,column=200)
        nreq_label_2=Label(root,text=print_nreq_2)
        nreq_label_2.grid(row=1,column=210)

    
    c3=conn.cursor()
    
    if(cost=='' and service=='' and date!=''): #case 1
        case7_rec = c3.execute('''
                    SELECT *
FROM (
SELECT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction 
FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d
WHERE a.Service_ID = b.Service_ID 
AND b.Area_ID = c.Area_ID
AND c.Area_ID = d.Area_ID
AND CAST(c.DateTimeEntry AS DATE) = ?
) as array_7b
ORDER BY DescriptionSer;''', str(date) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Description of Service")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=300)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=310)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=320)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=330)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=340)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=350)
    
    if(cost=='' and date=='' and service!=''): #case2
        case7_rec = c3.execute('''
                    SELECT *
                    FROM (
                    SELECT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction 
                    FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d
                    WHERE a.Service_ID = b.Service_ID 
                    AND b.Area_ID = c.Area_ID 
                    AND c.Area_ID = d.Area_ID
                    AND a.DescriptionSer =  ? ) as array_7a
                    ORDER BY DescriptionSer;''', str(service) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Description of Service")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=300)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=310)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=320)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=330)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=340)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=350)
        
    if(service=='' and date=='' and cost!=''): #case3
        case7_rec = c3.execute('''
                    SELECT *
                    FROM (
                    SELECT DISTINCT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction, h.Amount as Amount
                    FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d, GetsCharged AS h, RequiresSub AS g
                    WHERE a.Service_ID = b.Service_ID
                    AND g.Service_ID = b.Service_ID
                    AND b.Area_ID = c.Area_ID 
                    AND c.Area_ID = d.Area_ID
                    AND h.Service_ID = a.Service_ID
                    AND c.NFC_ID = h.NFC_ID
                    AND h.Amount <= ?) as array_7c
                    ORDER BY DescriptionSer;''' , int(cost) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Service Name")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        print77=str("Amount")+"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
            print77+=str(record[6])+"\n"
        print(print77)
        label71=Label(root,text=print71)
        label71.grid(row=1,column=3)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=4)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=5)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=6)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=7)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=8)
        label77=Label(root,text=print77)
        label77.grid(row=1,column=10)
        
    if(cost=='' and service!='' and date!=''): #case4
        case7_rec = c3.execute('''
                    SELECT *
                    FROM (
                    SELECT DISTINCT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction
                    FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d
                    WHERE a.Service_ID = b.Service_ID
                    AND b.Area_ID = c.Area_ID 
                    AND c.Area_ID = d.Area_ID
                    AND a.DescriptionSer = ?
                    AND CAST(c.DateTimeEntry AS DATE) =  ?) as array_7f
                    ORDER BY DescriptionSer;''' , (str(service),str(date) ) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Service Name")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=2,rowspan=10)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=3,rowspan=10)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=4,rowspan=10)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=5,rowspan=10)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=6,rowspan=10)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=7,rowspan=10)
        
    if(service=='' and cost!='' and date!=''): #case5
        case7_rec = c3.execute('''
        SELECT *
        FROM(
SELECT DISTINCT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction, h.Amount as Amount
FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d, GetsCharged AS h, RequiresSub AS g
WHERE a.Service_ID = b.Service_ID
AND g.Service_ID = b.Service_ID
AND b.Area_ID = c.Area_ID 
AND c.NFC_ID = h.NFC_ID
AND c.Area_ID = d.Area_ID
AND h.Service_ID = a.Service_ID
AND h.Amount <= ? --input03
AND CAST(c.DateTimeEntry AS DATE) =  ?) as array_7d
ORDER BY DescriptionSer''' , (str(cost),str(date) ) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Service Name")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        print77=str("Amount")+"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
            print77+=str(record[6])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=2,rowspan=10)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=3,rowspan=10)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=4,rowspan=10)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=5,rowspan=10)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=6,rowspan=10)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=7,rowspan=10)
        label77=Label(root,text=print77)
        label77.grid(row=1,column=8,rowspan=10)
        
    if(date=='' and cost!='' and service!=''): #case6
        case7_rec = c3.execute('''
        SELECT *
        FROM(SELECT DISTINCT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction, h.Amount as Amount
FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d, GetsCharged AS h, RequiresSub AS g
WHERE a.Service_ID = b.Service_ID
AND g.Service_ID = b.Service_ID
AND b.Area_ID = c.Area_ID 
AND c.Area_ID = d.Area_ID
AND h.Service_ID = a.Service_ID
AND c.NFC_ID = h.NFC_ID
AND h.Amount <= ? 
AND a.DescriptionSer = ?) as array_7e
ORDER BY DescriptionSer''' , (str(cost),str(service) ) )
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Service Name")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        print77=str("Amount") +"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
            print77+=str(record[6])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=2,rowspan=10)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=3,rowspan=10)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=4,rowspan=10)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=5,rowspan=10)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=6,rowspan=10)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=7,rowspan=10)
        label77=Label(root,text=print77)
        label77.grid(row=1,column=8,rowspan=10)
    
    
    if(date!='' and cost!='' and service!=''): #case7
        case7_rec = c3.execute('''
        SELECT *
        FROM(
SELECT DISTINCT a.Service_ID as Service_ID, a.DescriptionSer as DescriptionSer, c.DateTimeEntry as DateTimeEntry, c.DateTimeExit as DateTimeExit, d.Floor as Floor, d.Direction as Direction, h.Amount as Amount
FROM TheServices AS a, AreProvidedIn AS b, Visits AS c, AREA AS d, GetsCharged AS h, RequiresSub AS g
WHERE a.Service_ID = b.Service_ID
AND g.Service_ID = b.Service_ID
AND b.Area_ID = c.Area_ID 
AND c.Area_ID = d.Area_ID
AND c.NFC_ID = h.NFC_ID
AND h.Service_ID = a.Service_ID
AND a.DescriptionSer = ?
AND CAST(c.DateTimeEntry AS DATE) =  ?
AND h.Amount <= ?) as array_7g
ORDER BY DescriptionSer''' , (str(service),str(date),int(cost) ) )    
        case7_rec=c3.fetchall()
        print71=str("Service Id")+"\n"
        print72=str("Service Name")+"\n"
        print73=str("Date of entry")+"\n"
        print74=str("Date of exit")+"\n"
        print75=str("Floor")+"\n"
        print76=str("Direction")+"\n"
        print77=str("Amount") +"\n"
        for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
            print76+=str(record[5])+"\n"
            print77+=str(record[6])+"\n"
        label71=Label(root,text=print71)
        label71.grid(row=1,column=2,rowspan=10)
        label72=Label(root,text=print72)
        label72.grid(row=1,column=3,rowspan=10)
        label73=Label(root,text=print73)
        label73.grid(row=1,column=4,rowspan=10)
        label74=Label(root,text=print74)
        label74.grid(row=1,column=5,rowspan=10)
        label75=Label(root,text=print75)
        label75.grid(row=1,column=6,rowspan=10)
        label76=Label(root,text=print76)
        label76.grid(row=1,column=7,rowspan=10)
        label77=Label(root,text=print77)
        label77.grid(row=1,column=8,rowspan=10)



    conn.commit()
    n9.delete(0,END)
    n11a.delete(0,END)
    n11b.delete(0,END)
    
    
def q9():
    global req_label_1
    global req_label_2
    global nreq_label_1
    global nreq_label_2
    global label71
    global label72
    global label73
    global label74
    global label75
    global label76
    global label77
    req_label_1.destroy()
    req_label_2.destroy()
    label72.destroy()
    label73.destroy()
    label74.destroy()
    label75.destroy()
    label76.destroy()
    label77.destroy()
    label71.destroy()
    nreq_label_1.destroy()
    nreq_label_2.destroy()
    
    c4=conn.cursor()
    covid_id=n9.get()
    print(covid_id)
    
    case7_rec=c4.execute('''
SELECT *
FROM  (
SELECT CU.Firstname as A, CU.Surname as B, V.Area_ID as C, V.DateTimeEntry as D, V.DateTimeExit as E
FROM AREA as AR, Visits as V, Customers as CU
WHERE CU.NFC_ID = V.NFC_ID 
AND AR.Area_ID = V.Area_ID 
AND CU.NFC_ID = ?
) as array_9
ORDER BY C;''',str(covid_id)  )    
    
    case7_rec=c4.fetchall()
    print71=str("First Name")+"\n"
    print72=str("Surname")+"\n"
    print73=str("Area_ID")+"\n"
    print74=str("Date of entry")+"\n"
    print75=str("Date of Exit")+"\n"
    for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
            print73+=str(record[2])+"\n"
            print74+=str(record[3])+"\n"
            print75+=str(record[4])+"\n"
    label71=Label(root,text=print71)
    label71.grid(row=1,column=2,rowspan=10)
    label72=Label(root,text=print72)
    label72.grid(row=1,column=3,rowspan=10)
    label73=Label(root,text=print73)
    label73.grid(row=1,column=4,rowspan=10)
    label74=Label(root,text=print74)
    label74.grid(row=1,column=5,rowspan=10)
    label75=Label(root,text=print75)
    label75.grid(row=1,column=6,rowspan=10)
    
    conn.commit()
    n7a.delete(0,END)
    n7b.delete(0,END)
    n7c.delete(0,END)
    n11a.delete(0,END)
    n11b.delete(0,END)
    
    
    
    
    
def q10():
    global req_label_1
    global req_label_2
    global nreq_label_1
    global nreq_label_2
    global label71
    global label72
    global label73
    global label74
    global label75
    global label76
    global label77
    req_label_1.destroy()
    req_label_2.destroy()
    label72.destroy()
    label73.destroy()
    label74.destroy()
    label75.destroy()
    label76.destroy()
    label77.destroy()
    label71.destroy()
    nreq_label_1.destroy()
    nreq_label_2.destroy()
    
    c4=conn.cursor()
    covid_id=n9.get()
    print(covid_id)
    
    case7_rec=c4.execute('''
SELECT DISTINCT CU.Firstname, CU.Surname
FROM Customers as CU, Visits as V,
(SELECT CU.Firstname as A, CU.Surname as B, V.Area_ID as C, V.DateTimeEntry as D, V.DateTimeExit as E
FROM AREA as AR, Visits as V, Customers as CU
WHERE CU.NFC_ID = V.NFC_ID 
AND AR.Area_ID = V.Area_ID 
AND CU.NFC_ID = ?
) as array_9, 
(SELECT DATEADD(hour,1,array_9.E) as DateExitplus1
FROM array_9) as array_mid
WHERE (CU.NFC_ID=V.NFC_ID) and ( V.Area_ID = array_9.C) and ( ( (V.DateTimeExit >= array_9.D) and (V.DateTimeExit <= array_mid.DateExitplus1) ) or 

( (V.DateTimeEntry >= array_9.D) and (V.DateTimeEntry <= array_mid.DateExitplus1) ) or ( (V.DateTimeExit >= array_mid.DateExitplus1) and (V.DateTimeEntry <= array_9.D) ) )''',str(covid_id)  )    
    
    case7_rec=c4.fetchall()
    print71=str("First Name")+"\n"
    print72=str("Surname")+"\n"
    for record in (case7_rec):
            print71+=str(record[0])+"\n"
            print72+=str(record[1])+"\n"
    label71=Label(root,text=print71)
    label71.grid(row=1,column=2,rowspan=10)
    label72=Label(root,text=print72)
    label72.grid(row=1,column=3,rowspan=10)
    
   
    
    conn.commit()
    n7a.delete(0,END)
    n7b.delete(0,END)
    n7c.delete(0,END)
    n11a.delete(0,END)
    n11b.delete(0,END)
    
    

def q11():
    global req_label_1
    global req_label_2
    global nreq_label_1
    global nreq_label_2
    global label71
    global label72
    global label73
    global label74
    global label75
    global label76
    global label77
    req_label_1.destroy()
    req_label_2.destroy()
    label72.destroy()
    label73.destroy()
    label74.destroy()
    label75.destroy()
    label76.destroy()
    label77.destroy()
    label71.destroy()
    nreq_label_1.destroy()
    nreq_label_2.destroy()
    
    quest=n11a.get()
    span=n11b.get()
    ages=['20-40','40-60','60+']
    services2_ttl=['Most Used Services by Ages 20-40','Most Used Services by Ages 40-60','Most Used Services by Ages 60+']
    areas_ttl=['Most Visited Areas by Ages 20-40','Most Visited Areas by Ages 40-60','Most Visited Areas by Ages 60+']
    services3_ttl=['Services Provided To Most (Individual) Customers (Ages 20-40)','Services Provided To Most (Individual) Customers (Ages 40-60)','Services Provided To Most (Individual) Customers (Ages 60+)']
    if(quest=='11.2' and span=='Last Year'): #case 1
        for i in range(0,3):
            c.execute('''
SELECT a.DescriptionSer, COUNT(b.Area_ID) AS "Most Used Services"
FROM TheServices AS a, 
		(SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2020-06-01' AND '2021-6-30') AS b,
		AreProvidedIn AS c, tempCustomers AS d
WHERE a.Service_ID = c.Service_ID
AND b.Area_ID = c.Area_ID 
AND b.NFC_ID = d.NFC_ID
AND d.Age = ?
GROUP BY DescriptionSer
ORDER BY "Most Used Services" DESC;''',(str(ages[i])) )
            case7_rec=c.fetchall()
            print71=str("Name of Service")+"\n"
            print72=str(services2_ttl[i])+"\n"
            for record in (case7_rec):
                print71+=str(record[0])+"\n"
                print72+=str(record[1])+"\n"
            if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
            if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
            if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
    
    if(quest=='11.1' and span=='Last Year'): #case2
        for i in range(0,3):
            c.execute('''
SELECT a.Name_Of_Area, COUNT(b.Area_ID) AS "Most Visited Areas for 20-40"
FROM  AREA AS a,
		(SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2020-06-01' AND '2021-6-30') AS b,
		tempCustomers AS d
WHERE a.Area_ID = b.Area_ID
AND d.NFC_ID=b.NFC_ID
AND d.Age=?
GROUP BY Name_Of_Area
ORDER BY  "Most Visited Areas for 20-40" DESC;''',(str(ages[i])) )
            case7_rec=c.fetchall()
            print71=str("Name of Area")+"\n"
            print72=str(areas_ttl[i])+"\n"
            for record in (case7_rec):
                print71+=str(record[0])+"\n"
                print72+=str(record[1])+"\n"
            if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
            if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
            if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
            
    if(quest=='11.3' and span=='Last Year'): #case3
        for i in range(0,3):
            c.execute('''
SELECT a.DescriptionSer, COUNT(DISTINCT b.NFC_ID) AS "Provided To Most Clients with age 20-40"
FROM TheServices AS a, (SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2020-06-01' AND '2021-06-30') AS b,
		AreProvidedIn AS c,
		tempCustomers AS d
WHERE a.Service_ID = c.Service_ID 
AND b.Area_ID = c.Area_ID
AND b.NFC_ID = d.NFC_ID
AND d.Age=?
GROUP BY DescriptionSer
ORDER BY "Provided To Most Clients with age 20-40" DESC;''',(str(ages[i])) )
            case7_rec=c.fetchall()
            print71=str("Name of Service")+"\n"
            print72=str(services3_ttl[i])+"\n"
            for record in (case7_rec):
                print71+=str(record[0])+"\n"
                print72+=str(record[1])+"\n"
            if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
            if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
            if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
            
    if(quest=='11.2' and span=='Last Month'): #case 4
            for i in range(0,3):
                c.execute('''
SELECT a.DescriptionSer, COUNT(b.Area_ID) AS "Most Used Services"
FROM TheServices AS a, 
		(SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2021-06-01' AND '2021-6-30') AS b,
		AreProvidedIn AS c, tempCustomers AS d
WHERE a.Service_ID = c.Service_ID
AND b.Area_ID = c.Area_ID 
AND b.NFC_ID = d.NFC_ID
AND d.Age = ?
GROUP BY DescriptionSer
ORDER BY "Most Used Services" DESC;''',(str(ages[i])) )
                case7_rec=c.fetchall()
                print71=str("Name of Service")+"\n"
                print72=str(services2_ttl[i])+"\n"
                for record in (case7_rec):
                    print71+=str(record[0])+"\n"
                    print72+=str(record[1])+"\n"
                if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
                if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
                if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
            
            
    if(quest=='11.1' and span=='Last Month'): #case5
            for i in range(0,3):
                c.execute('''
SELECT a.Name_Of_Area, COUNT(b.Area_ID) AS "Most Visited Areas for 20-40"
FROM  AREA AS a,
		(SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2021-06-01' AND '2021-6-30') AS b,
		tempCustomers AS d
WHERE a.Area_ID = b.Area_ID
AND d.NFC_ID=b.NFC_ID
AND d.Age=?
GROUP BY Name_Of_Area
ORDER BY  "Most Visited Areas for 20-40" DESC;''',(str(ages[i])) )
                case7_rec=c.fetchall()
                print71=str("Name of Area")+"\n"
                print72=str(areas_ttl[i])+"\n"
                for record in (case7_rec):
                    print71+=str(record[0])+"\n"
                    print72+=str(record[1])+"\n"
                if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
                if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
                if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
                    
            
            
            
    if(quest=='11.3' and span=='Last Month'): #case6
            for i in range(0,3):
                c.execute('''
SELECT a.DescriptionSer, COUNT(DISTINCT b.NFC_ID) AS "Provided To Most Clients with age 20-40"
FROM TheServices AS a, (SELECT * FROM Visits
		WHERE DateTimeEntry BETWEEN '2021-06-01' AND '2021-06-30') AS b,
		AreProvidedIn AS c,
		tempCustomers AS d
WHERE a.Service_ID = c.Service_ID 
AND b.Area_ID = c.Area_ID
AND b.NFC_ID = d.NFC_ID
AND d.Age=?
GROUP BY DescriptionSer
ORDER BY "Provided To Most Clients with age 20-40" DESC;''',(str(ages[i])) )
                case7_rec=c.fetchall()
                print71=str("Name of Service")+"\n"
                print72=str(services3_ttl[i])+"\n"
                for record in (case7_rec):
                    print71+=str(record[0])+"\n"
                    print72+=str(record[1])+"\n"
                if(i==0):
                    label71=Label(root,text=print71)
                    label71.grid(row=1*i*10,column=2,rowspan=10)
                    label72=Label(root,text=print72)
                    label72.grid(row=1*i*10,column=3,rowspan=10)
                if(i==1):
                    label73=Label(root,text=print71)
                    label73.grid(row=1*i*10,column=2,rowspan=10)
                    label74=Label(root,text=print72)
                    label74.grid(row=1*i*10,column=3,rowspan=10)
                if(i==2):
                    label75=Label(root,text=print71)
                    label75.grid(row=1*i*10,column=2,rowspan=10)
                    label76=Label(root,text=print72)
                    label76.grid(row=1*i*10,column=3,rowspan=10)
                    
                    
    conn.commit()               
    n7a.delete(0,END)
    n7b.delete(0,END)
    n7c.delete(0,END)
    n9.delete(0,END)

            
            
            
            
            
        
    

q7_btn=Button(root,text='Question 7',command=q7)
q7_btn.grid(row=1,column=0,columnspan=2,pady=10,padx=2,ipadx=100)

n7a=Entry(root,width=30)
n7a.grid(row=3,column=1,padx=20)
n7a_label=Label(root,text="Date of Interest")
n7a_label.grid(row=3,column=0)

n7b=Entry(root,width=30)
n7b.grid(row=4,column=1,padx=20)
n7b_label=Label(root,text="Service Name")
n7b_label.grid(row=4,column=0)


n7c=Entry(root,width=30)
n7c.grid(row=5,column=1,padx=20)
n7c_label=Label(root,text="Maximum Cost")
n7c_label.grid(row=5,column=0)

q9_btn=Button(root,text='Question 9',command=q9)
q9_btn.grid(row=7,column=0,columnspan=2,pady=10,padx=2,ipadx=100)

q10_btn=Button(root,text='Question 10',command=q10)
q10_btn.grid(row=8,column=0,columnspan=2,pady=10,padx=2,ipadx=100)

n9=Entry(root,width=30)
n9.grid(row=9,column=1,padx=20)
n9_label=Label(root,text="NFC_ID of Covid Case")
n9_label.grid(row=9,column=0)

q11_btn=Button(root,text='Question 11',command=q11)
q11_btn.grid(row=11,column=0,columnspan=2,pady=10,padx=2,ipadx=100)

n11a=Entry(root,width=30)
n11a.grid(row=12,column=1,padx=20)
n11a_label=Label(root,text="Number of Question")
n11a_label.grid(row=12,column=0)

n11b=Entry(root,width=30)
n11b.grid(row=13,column=1,padx=20)
n11b_label=Label(root,text="Time Span")
n11b_label.grid(row=13,column=0)

#ncomm01_label=Label(root,text="*Choices of age groups: '20-40' or '40-60' or '60+'")
#n11a_label.grid(row=30,column=0)

#ncomm02_label=Label(root,text="*Choices of time span: 'Last Month' or 'Last Year'")
#n11a_label.grid(row=31,column=0)














root.mainloop()

Amount
20
10
35
10
5
60
30
40

00015
00020
00020